@import "src/styles/variables";
@import "src/styles/blocks";

/* ----- options ----- */

.options-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.option {
  flex-grow: 1;
  background-color: $clr-background-0;
  border-radius: 15px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  cursor: pointer;
}

.option.selected {
  outline: 1px solid $clr-bold-border;
}

/* for specific options */

#mode-selection {
  justify-content: space-evenly;
  height: 200px;
}

#direction-selection .option {
  height: 50px;
  max-height: 10vh;
}

/* make mode selection vertical */
@media screen and (max-width: 550px) {
  #mode-selection {
    height: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #direction-selection .option {
    height: 30px;
  }
}

/* make direction selection vertical */
#option-groups-separator {
  display: none;
  height: 0;
  border-top: 1px solid $clr-background-1-border;
}
@media screen and (max-width: 430px) {
  #option-groups-separator {
    display: block;
  }

  #direction-selection {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

/* shrink gaps on smaller screens */
@media screen and (max-width: 600px) {
  #container {
    padding: 15px;
    gap: 15px;
  }
}
@media screen and (max-width: 650px) {
  .options-container {
    gap: 15px;
  }
}


/* ----- vocabulary selector ----- */

mat-tree {
  background-color: mix(white, red, 90%);
}

mat-nested-tree-node {
  border: 10px solid black !important;
}

mat-tree-node {
  padding-left: 60px;
  min-height: 40px;
}


/* vkpro-required */

.container:has(.vkpro-required-container) {
  position: relative;
}

.vkpro-required-container {
  @include rounded-container;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(227, 227, 227, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.vkpro-icon {
  height: 40px;
  width: 40px;

  img {
    height: 100%;
    width: 100%;
  }
}

.vkpro-text {
  font-size: 90%;
  padding: 0 50px;
  text-align: center;

  a {
    @include font-def-bolder;
    color: $clr-vkpro;
  }
}

@media screen and (max-width: 800px) {
  .vkpro-icon {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .vkpro-text:has(a) {
    display: none;
  }
}
