<vk-page>
  <vk-section>

    <div id="mode-selection" class="options-container">
      <div class="option" mat-ripple (click)="selectMode('cards')" [class.selected]="selectedMode == 'cards'">
        <div class="mode-icon">
          <fa-icon icon="window-restore" size="xl"></fa-icon>
        </div>
        <div class="mode-title">
          Karteikarten
        </div>
      </div>
      <div class="option" mat-ripple (click)="selectMode('chat')" [class.selected]="selectedMode == 'chat'">
        <div class="mode-icon">
          <fa-icon icon="comments" size="xl"></fa-icon>
        </div>
        <div class="mode-title">
          Chat
        </div>
      </div>
      <div class="option" mat-ripple (click)="session.hasPro && selectMode('test')" [class.selected]="selectedMode == 'test'">
        <div class="mode-icon">
          <fa-icon icon="file-lines" size="xl"></fa-icon>
        </div>
        <div class="mode-title">
          Übungstest
        </div>
        <div class="vkpro-required-container" *ngIf="!session.hasPro">
          <div class="vkpro-icon">
            <img src="/assets/logo/vkpro_logo_circle.png">
          </div>
          <div class="vkpro-text">Du benötigst Vocabulum Pro, um Übungstests nutzen zu können!</div>
          <div class="vkpro-text"><a routerLink="/pro">Jetzt kaufen</a></div>
        </div>
      </div>
    </div>

    <div id="option-groups-separator"></div>

    <div id="direction-selection" class="options-container">
      <div class="option" mat-ripple (click)="selectDirection('lg')" [class.selected]="selectedDirection == 'lg'">
        <div>Lat. → DE</div>
      </div>
      <div class="option" mat-ripple (click)="selectDirection('rand')" [class.selected]="selectedDirection == 'rand'">
        <div>zufällig</div>
      </div>
      <div class="option" mat-ripple (click)="selectDirection('gl')" [class.selected]="selectedDirection == 'gl'">
        <div>DE → Lat.</div>
      </div>
    </div>

    <app-vocabulary-selector (selectionString)="selectionString = $event"></app-vocabulary-selector>

    <vk-button variant="primary" (click)="submitStart()" [disabled]="!checkReady()">
      {{selectedMode == "test" ? "Öffnen" : "Starten"}}
    </vk-button>

  </vk-section>
</vk-page>
