<!--<mat-drawer-container class="nav-container" autosize>-->
  <!--<mat-drawer class="nav-sidenav" mode="over" #drawer>

    <h2 id="nav-header">Vocabulum</h2>
    &lt;!&ndash;<mat-selection-list multiple="false" id="nav-selection-list">
      <mat-list-option
        *ngFor="let page of pages"
        [selected]="page.selected"
        [routerLink]="page.route"
        (click)="drawer.toggle()"
      >
        {{page.title}}
      </mat-list-option>
    </mat-selection-list>&ndash;&gt;

  </mat-drawer>-->

<mat-toolbar color="primary">
  <!--<button mat-icon-button class="nav-left-button" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>-->
  <img src="/assets/logo/vocabulum_logo_circle.png" alt="Logo" class="logo-icon">
  <a id="home-link">Vocabulum</a>
</mat-toolbar>

<router-outlet></router-outlet>

  <!--<app-bottom-bar [floored]="floored"></app-bottom-bar>

  <div #filler></div>-->

<!--</mat-drawer-container>-->
