<div id="container">
  <div id="inner-container">

    <div id="search-bar-container">
      <input id="search-bar" placeholder="Suchen ..." (ngModelChange)="updateChange($event)" [(ngModel)]="query">
    </div>

    <div id="search-results">
      <div class="search-result-container" *ngFor="let result of results" mat-ripple (click)="openVocabularyPage(result.vocabulary.base_form)">

        <div class="result-found-form">
          <span>{{result.matchedForm.substring(0, result.matchStart)}}</span>
          <span class="in-query">{{result.matchedForm.substring(result.matchStart, result.matchEnd)}}</span>
          <span>{{result.matchedForm.substring(result.matchEnd)}}</span>
        </div>
        <div class="result-portion"><span class="muted">in Lektion</span> {{result.vocabulary.portion}}</div>
        <ng-container *ngIf="!result.inflexible">
        <br>
        <div class="result-form">{{result.inForm}}
          <span class="muted" *ngIf="result.additionalFormsCount > 0">(+{{result.additionalFormsCount}}) </span>
          <span class="muted">von</span>
        </div>
        <div class="result-word">{{result.vocabulary.definition}}</div>
        </ng-container>

      </div>
    </div>

  </div>
</div>
