<vk-page *ngIf="session.user">

  <vk-section>

    <vk-section-header size="large">Hi, {{session.user.username}}!</vk-section-header>

    <vk-meta-container>

      <vk-meta>
        <vk-meta-key>Benutzer seit</vk-meta-key>
        <vk-meta-value>2020</vk-meta-value>
      </vk-meta>

      <vk-meta>
        <vk-meta-key>E-Mail</vk-meta-key>
        <vk-meta-value class="click-to-show" (click)="showEmail()">
          {{obfuscateEmail(session.user.email)}}
          <a>
            <!--<mat-icon>visibility</mat-icon>-->
            <fa-icon icon="eye" size="sm"></fa-icon>
          </a>
        </vk-meta-value>
      </vk-meta>

    </vk-meta-container>

    <vk-buttons>
      <vk-button (click)="changeUsername()">Benutzernamen ändern</vk-button>
      <vk-button (click)="changePassword()">Passwort ändern</vk-button>
    </vk-buttons>

  </vk-section>

  <div class="vk-section vk-section-clr-discord" id="discord-banner">

    <vk-section-header>Vocabulum auf Discord</vk-section-header>

    <p>
      Verwende den <b>Vocabulum-Bot</b> in Discord!
      So kannst du bspw. Chat-Abfragen direkt in deinem Lieblings-Messenger halten,
      und das auf allen deinen Geräten.
      Karteikarten-Abfragen und unsere Vokabelsuche findest du dort auch.
    </p>
    <p>
      Auf dem <b>Vocabulum Discord-Server</b> kannst du mit deine Freunden chatten und dich über Vocabulum austauschen.
      Hier findest du auch <b>Support</b>, falls du Probleme oder Fragen zur der App oder dem Discord-Bot hast.
      Bald kommt außerdem ein <b>Battle-Modus</b>, in dem du deine Freunde zu einem Vokabelduell herausfordern kannst!
    </p>
    <p>
      Trage hier deine Discord-Benutzernamen inkl. deinem Tag ein und tippe unten auf "In Discord verwenden", um zu starten.
    </p>

    <ng-container *ngIf="session.user.discordUsername != ''">

      <vk-meta-container>
        <vk-meta>
          <vk-meta-key>Discord-Benutzername</vk-meta-key>
          <vk-meta-value class="click-to-show" (click)="showDiscordUsername()">
            {{obfuscateDiscordUsername(session.user.discordUsername)}}
            <a>
              <fa-icon icon="eye" size="sm"></fa-icon>
            </a>
          </vk-meta-value>
        </vk-meta>
      </vk-meta-container>

    </ng-container>

    <vk-button (click)="changeDiscordUsername()">
      Discord-Benutzernamen {{session.user.discordUsername == "" ? "eintragen" : "ändern"}}
    </vk-button>

    <app-discord-banner></app-discord-banner>

  </div>

  <vk-section color="pro" *ngIf="!session.hasPro">
    <vk-section-header>Vocabulum Pro</vk-section-header>
    <app-plans></app-plans>
    <a routerLink="/voucher" id="voucher-link">Code einlösen</a>
  </vk-section>

  <vk-section color="ai">
    <vk-section-header>Vocabulum AI</vk-section-header>
    <p>
      Überall in Vocabulum findest du hin und wieder lilafarbene Banner, über die du auf Vocabulum AI zugreifen kannst.
      So kannst du die AI bspw. nach Übersetzungen fragen.
      Sie ist nicht perfekt, kann dir aber in vielen Fällen eine gute Antwort geben.
    </p>
    <p>
      <b>Achtung!</b> Es gibt keine Garantie, dass die Antworten der AI inhaltlich richtig sind!
    </p>
    <p>
      Hier auch ein Beispiel:
    </p>
    <ai-block title="Wieso ist AI gut in einem Vokabeltrainer?" prompt="Erkläre in einem Satz: Wieso ist AI gut in einem Vokabeltrainer?"></ai-block>
  </vk-section>

  <vk-section>
    <vk-section-header>Verlauf</vk-section-header>
    <app-history></app-history>
    <div class="vkpro-required-container" *ngIf="!session.hasPro">
      <div class="vkpro-icon">
        <img src="/assets/logo/vkpro_logo_circle.png">
      </div>
      <div class="vkpro-text">Du benötigst Vocabulum Pro, um dieses Feature nutzen zu können!</div>
      <div class="vkpro-text"><a routerLink="/pro">Jetzt kaufen</a></div>
    </div>
  </vk-section>

  <vk-buttons id="bottom-actions-container">
    <vk-button color="red" (click)="logout()">Abmelden</vk-button>
    <vk-button color="black" (click)="openAdminConsole()" *ngIf="session.user.isAdmin">Admin Console</vk-button>
  </vk-buttons>
</vk-page>
