@import "src/styles/variables";
@import "src/styles/blocks";
@import "src/styles/fonts";

.click-to-show {
  cursor: pointer;

  fa-icon {
    font-size: 16px;
    color: $clr-muted;
  }
}

p {
  margin: 0;
  padding: 0;
  line-height: 130%;
}

/* header */

#above-header {
  font-size: 120%;
  height: 10px;
}

/* vkpro-banner */

#voucher-link {
  text-decoration: underline;
  color: $clr-muted;
}

/* history */

#history-header {
  display: flex;
  justify-content: space-between;
}

#history-clear-btn-alt {
  display: none;
}
@media screen and (max-width: 350px) {
  #history-header vk-button {
    display: none;
  }

  #history-clear-btn-alt {
    display: initial;
  }
}

/* vkpro-required */

vk-section:has(.vkpro-required-container) {
  position: relative;
}

.vkpro-required-container {
  @include rounded-container;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(227, 227, 227, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.vkpro-icon {
  height: 60px;
  width: 60px;

  img {
    height: 100%;
    width: 100%;
  }
}

.vkpro-text {
  font-size: 130%;
  padding: 0 50px;
  text-align: center;

  a {
    @include font-def-bolder;
    color: $clr-vkpro;
  }
}

/* button action containers */

.actions-container {
  width: 800px;
}

@media screen and (max-width: 900px) {
  .actions-container {
    width: auto;
  }
}
