<div id="outer-container" *ngIf="session.user">
  <div class="container" id="container-account">

    <div class="container-header" id="greeting">Hi, {{session.user.username}}!</div>

    <div id="meta-outer-container">
      <div class="meta-container">
        <span class="meta-name">Benutzer seit</span>
        <span class="meta-value">2020</span>
      </div>
      <div class="meta-container">
        <span class="meta-name">E-Mail</span>
        <span class="meta-value click-to-show" (click)="showEmail()">
          {{obfuscateEmail(session.user.email)}}
          <a>
            <!--<mat-icon>visibility</mat-icon>-->
            <fa-icon icon="eye" size="sm"></fa-icon>
          </a>
        </span>
      </div>
    </div>

    <div class="actions-container">
      <a class="button" mat-ripple (click)="changeUsername()">
        Benutzernamen ändern
      </a>
      <a class="button" mat-ripple (click)="changePassword()">
        Passwort ändern
      </a>
    </div>

  </div>

  <div class="container" id="discord-container">

    <div class="container-header">Vocabulum auf Discord</div>

    <p>
      Verwende den <b>Vocabulum-Bot</b> in Discord!
      So kannst du bspw. Chat-Abfragen direkt in deinem Lieblings-Messenger halten,
      und das auf allen deinen Geräten.
      Karteikarten-Abfragen und unsere Vokabelsuche findest du dort auch.
    </p>
    <p>
      Auf dem <b>Vocabulum Discord-Server</b> kannst du mit deine Freunden chatten und dich über Vocabulum austauschen.
      Hier findest du auch <b>Support</b>, falls du Probleme oder Fragen zur der App oder dem Discord-Bot hast.
      Bald kommt außerdem ein <b>Battle-Modus</b>, in dem du deine Freunde zu einem Vokabelduell herausfordern kannst!
    </p>
    <p>
      Trage hier deine Discord-Benutzernamen inkl. deinem Tag ein und tippe unten auf "In Discord verwenden", um zu starten.
    </p>

    <ng-container *ngIf="session.user.discordUsername != ''">
      <div class="meta-container">
        <span class="meta-name">Discord-Benutzername</span>
        <span class="meta-value click-to-show" (click)="showDiscordUsername()">
          {{obfuscateDiscordUsername(session.user.discordUsername)}}
          <a>
            <fa-icon icon="eye" size="sm"></fa-icon>
          </a>
        </span>
      </div>
    </ng-container>

    <div class="actions-container">
      <a class="button" mat-ripple (click)="changeDiscordUsername()">
        Discord-Benutzernamen {{session.user.discordUsername == "" ? "eintragen" : "ändern"}}
      </a>
    </div>

    <app-discord-banner></app-discord-banner>

  </div>

  <div class="container vkpro-container" *ngIf="!session.hasPro">
    <div class="container-header">Vocabulum Pro</div>
    <app-plans></app-plans>
  </div>

  <div class="container">
    <div class="container-header">Verlauf</div>
    <app-history></app-history>
    <div class="vkpro-required-container" *ngIf="!session.hasPro">
      <div class="vkpro-icon">
        <img src="/assets/logo/vkpro_logo_circle.png">
      </div>
      <div class="vkpro-text">Du benötigst Vocabulum Pro, um dieses Feature nutzen zu können!</div>
      <div class="vkpro-text"><a routerLink="/pro">Jetzt kaufen</a></div>
    </div>
  </div>

  <div class="actions-container" id="bottom-actions-container">
    <a class="button" mat-ripple id="logout-button" (click)="logout()">Abmelden</a>
  </div>
</div>
