@import "src/styles/variables";
@import "src/styles/blocks";
@import "src/styles/fonts";

/* layout */

#outer-container {
  @include outer-container;
}

.container {
  @include rounded-container;
  @include container-in-outer-container;
}

@media screen and (max-width: 900px) {
  #outer-container {
    @include outer-container-sm;
    padding: 15px;
    gap: 15px;
  }

  .container {
    @include container-in-outer-container-sm;
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 20px;
  }
}

/* contents */

.container-header {
  font-size: 40px;
  @include font-srf;
}
.container-header#greeting {
  font-size: 60px;
}

#meta-outer-container {
  @include meta-outer-container;
}
.meta-container {
  @include meta-container;
}
.meta-name {
  @include meta-name;
}

.actions-container {
  @include buttons;
}

.click-to-show {
  cursor: pointer;
}

.click-to-show mat-icon {
  font-size: 16px;
  color: $clr-muted;
}

@media screen and (max-width: 450px) {
  .container-header {
    font-size: 30px;
  }
  .container-header#greeting {
    font-size: 45px;
  }
}

/* discord-container */

$clr-discord-primary: #5865F2;

#discord-container {
  border-color: $clr-discord-primary;
  border-width: 2px;
}

#discord-container p {
  margin: 0;
  padding: 0;
  line-height: 130%;
}

/* vkpro-container */

.vkpro-container {
  outline: $clr-vkpro solid 3px;
  outline-offset: 4px;
  animation: vkpro-pulse 3s infinite linear;
}

@keyframes vkpro-pulse {
  50% {
    outline-color: mix($clr-vkpro, white, 40%);
    /*outline-offset: 5px;*/
  }
}

/* vkpro-required */

.container:has(.vkpro-required-container) {
  position: relative;
}

.vkpro-required-container {
  @include rounded-container;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(227, 227, 227, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.vkpro-icon {
  height: 60px;
  width: 60px;

  img {
    height: 100%;
    width: 100%;
  }
}

.vkpro-text {
  font-size: 130%;
  padding: 0 50px;
  text-align: center;

  a {
    @include font-def-bolder;
    color: $clr-vkpro;
  }
}

/* bottom actions */

#bottom-actions-container {
  width: 800px;

  .button {
    color: red;
    border-color: red;
  }
}
