#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footnote {
  font-size: 70%;
  color: grey;
}

#video-container {
  width: 100px;
  height: 100px;
  background: no-repeat center/contain url("/assets/loader/loader_intermediate.png");
}
