<vk-page>

  <vk-section>
    <vk-section-header size="large">Large Section Header</vk-section-header>
    Section content....
  </vk-section>

  <vk-section>
    <vk-section-header>Next section</vk-section-header>
    With content...
    <vk-buttons>
      <vk-button>Button 1</vk-button>
      <vk-button [disabled]="true">Button 2</vk-button>
    </vk-buttons>
    Some more content, until, finally!, the primary button:
    <vk-button variant="primary">Button</vk-button>
  </vk-section>

  <vk-section>
    <vk-section-header size="small">Section with a map</vk-section-header>
    <vk-meta-container>

      <vk-meta>
        <vk-meta-key>Key 1</vk-meta-key>
        <vk-meta-value>Value 1</vk-meta-value>
      </vk-meta>

      <vk-meta>
        <vk-meta-key>Key 2</vk-meta-key>
        <vk-meta-value>Value 2</vk-meta-value>
      </vk-meta>

    </vk-meta-container>
  </vk-section>

  <vk-section>
    <vk-section-header size="small">Section with colored buttons</vk-section-header>
    <vk-buttons>
      <vk-button color="black">Black</vk-button>
      <vk-button color="red">Red</vk-button>
    </vk-buttons>
  </vk-section>

</vk-page>
