@import "src/styles/variables";
@import "src/styles/blocks";
@import "src/styles/fonts";

#amount-selector-container {
  display: flex;
  justify-content: center;
}

#amount-selector {
  height: 40px;
  display: flex;

  border: 5px solid $clr-background-0;
  padding: 3px;
  border-radius: 100vw;
  width: fit-content;

  button, input {
    background-color: transparent;
    border: none;
  }

  button {
    cursor: pointer;
    width: 40px;
    border-radius: 100vw;

    &:hover {
      background-color: #f6f6f6;
    }
  }

  input {
    width: 50px;
    outline: none;
    text-align: center;
    font-size: 150%;
  }
}

/* --- remove arrows from input field --- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
