<vk-page>
  <vk-section>

    <vk-section-header>Übungstest</vk-section-header>

    <div>Du hast <b>{{vocabulariesAmount}}</b> Vokabeln ausgewählt.</div>
    <div>Wie viele davon sollen zufällig für deinen Test ausgewählt werden?</div>

    <div id="amount-selector-container">
      <div id="amount-selector">
        <button id="amount-subtract-5" mat-ripple (click)="changeChosenAmount(-5)">-5</button>
        <button id="amount-subtract-1" mat-ripple (click)="changeChosenAmount(-1)">-</button>
        <input type="number" [(ngModel)]="chosenAmount">
        <button id="amount-add-1" mat-ripple (click)="changeChosenAmount(+1)">+</button>
        <button id="amount-add-5" mat-ripple (click)="changeChosenAmount(+5)">+5</button>
      </div>
    </div>

    <vk-button variant="primary" (click)="openTest()">Test drucken</vk-button>

  </vk-section>
</vk-page>
