@import "src/styles/variables";
@import "src/styles/blocks";

#search-button-container {
  display: flex;
  justify-content: center;
}

.portion-container {
  @include rounded-container;
  width: 1000px;
}

@media screen and (max-width: 1100px) {
  #outer-container {
    @include outer-container-sm;
  }

  .portion-container {
    width: unset;
  }
}

.portion-container .portion-name {
  font-size: 25px;
}

.portion-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-radius: 19px;
}
.portion-header.expanded {
  border-bottom: $clr-background-1-border 1px solid;
}

.blocks-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 0 5px 0;
  gap: 20px;
}

.block-item {
  padding: 20px;
  @include container;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;

  cursor: pointer;

  transition: background-color 100ms ease-in-out;
}
.block-item:hover {
  background-color: $clr-background-1-hover;
}

.vocabulary-translations-container {
  text-align: right;
}

.block-item + .block-item {
  border-top: none;
}

.block-item:first-child {
  border-top-left-radius: $rounded-container-border-radius;
  border-top-right-radius: $rounded-container-border-radius;
}

.block-item:last-child {
  border-bottom-left-radius: $rounded-container-border-radius;
  border-bottom-right-radius: $rounded-container-border-radius;
}


.vocabulary-translation:not(.important) {
  display: none;
}

.translation-quotation-marks {
  display: none;
}
@media screen and (max-width: 500px) {
  .block-item {
    flex-direction: column;
    align-content: stretch;
    gap: 5px;
  }

  .vocabulary-translations-container {
    text-align: initial;
  }

  .translation-quotation-marks {
    display: inline;
    color: darkgrey;
  }
}
