@import "src/styles/variables";
@import "src/styles/blocks";
@import "src/styles/fonts";

.vk-page {
  @include outer-container;
}

.vk-section {
  @include rounded-container;
  @include container-in-outer-container;

  &.vk-section-clr-pro {
    border-color: $clr-vkpro;
  }

  &.vk-section-clr-discord {
    border-color: #5865F2;
  }

  &.vk-section-clr-ai {
    border-color: #b115da;
  }

  &.vk-section-clr-pro , &.vk-section-clr-discord , &.vk-section-clr-ai {
    border-width: 2px;
  }
}

.vk-page-slim .vk-section {
  @include container-in-outer-container($width: 500px);
}

@media screen and (max-width: 900px) {
  .vk-page-regular {
    @include outer-container-sm;

    .vk-section {
      @include container-in-outer-container-sm;
    }
  }
}

@media screen and (max-width: 600px) {
  .vk-page-slim {
    @include outer-container-sm;

    .vk-section {
      @include container-in-outer-container-sm;
    }
  }
}

.vk-section-header {
  @include font-srf;

  &.vk-section-header-small {
    font-size: 30px;
  }

  &.vk-section-header-medium {
    font-size: 40px;
  }

  &.vk-section-header-large {
    font-size: 60px;
  }
}

@media screen and (max-width: 400px) {
  .vk-page {
    padding: 10px;
  }

  .vk-section {
    padding: 20px !important;
  }

  .vk-section-header {
    &.vk-section-header-small {
      font-size: 20px;
    }

    &.vk-section-header-medium {
      font-size: 30px;
    }

    &.vk-section-header-large {
      font-size: 45px;
    }
  }
}

/* ----- buttons ----- */

.vk-buttons {
  @include buttons;
}

.vk-basic-button {
  @include button;

  &[disabled] {
    color: grey;
    cursor: not-allowed;
  }

  &.vk-basic-button-black {
    color: black;
    border-color: black;
  }

  &.vk-basic-button-red {
    color: red;
    border-color: red;
  }
}

.vk-primary-button-container {
  &:has(.vk-primary-button) {
    display: flex;
    justify-content: center;

    .vk-primary-button {
      @include primary-button;
      width: 250px;
      height: 50px;

      &[disabled] {
        @include primary-button-disabled;
      }
    }
  }

  &:not(:has(.vk-primary-button)) {
    display: inline-block;
  }
}

/* ----- meta ----- */

.vk-meta-container {
  @include meta-outer-container;
}

.vk-meta {
  @include meta-container;
}

.vk-meta-key {
  @include meta-name;
}

/* ----- input ----- */

.vk-input {
  height: 50px;
  @include rounded-container;
  padding: 0 20px;
  font-size: 16px;
}
