/* --- theme colors --- */

$clr-primary: rgb(241, 67, 33);
$clr-on-primary: white;

$clr-primary-lighter: rgb(247, 135, 114);

$clr-secondary: rgb(22, 112, 141);
$clr-on-secondary: white;


/* --- layout / basic colors --- */

$clr-background-0: #eeeeee;

$clr-background-1: white;
$clr-background-1-border: #d0d0d0;
$clr-background-1-hover: #f3f3f3;

$clr-text: black;

$clr-bold-border: black;


/* --- other colors --- */

$clr-muted: #525252;
$clr-muted-alt: grey;
