@import "src/styles/variables";
@import "src/styles/blocks";
@import "src/styles/fonts";

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inner-container {
  width: 1000px;

  display: flex;
  flex-direction: column;
  padding: 40px 40px 20px 40px;
  gap: 40px;
}

#search-bar-container {
  width: 100%;
}

#search-bar {
  @include rounded-container;
  padding: 30px;
  width: calc(100% - 2*30px);

  @include font-srf;
  font-size: 40px;
}
#search-bar:focus {
  outline: none;
}

@media screen and (max-width: 1100px) {
  #inner-container {
    width: auto;
  }

  #container {
    align-items: stretch;
  }
}

@media screen and (max-width: 550px) {
  #search-bar {
    font-size: 30px;
    padding: 25px;
  }
}


#search-results {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-result-container {
  @include rounded-container;
  padding: 20px;
  max-width: max-content;
  cursor: pointer;
}

.muted {
  color: $clr-muted;
}

.result-found-form, .result-word {
  font-size: 120%;
}

.result-found-form span:not(.in-query) {
  color: $clr-muted;
  @include font-def-lighter;
}
