#outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

#container {
  background-color: white;
  border: #d0d0d0 1px solid;
  border-radius: 20px;
  width: 800px;

  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

@media screen and (max-width: 900px) {
  #container {
    width: auto;
  }

  #outer-container {
    align-items: stretch;
  }
}


#kind {
  font-size: 20px;
  font-family: 'Recursive', monospace;
  font-variation-settings: var(--m-mono), var(--m-casl), var(--m-wght), var(--m-slnt), var(--m-CRSV);
}
#kind span {
  background-color: #dedede;
  border: none;
  border-radius: 7px;
  padding: 5px 7px;
}

#base-forms {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 500px) {
  #base-forms {
    font-size: 40px;
  }
}


#translations {
  display: flex;
  flex-direction: row;
  gap: 5px;

  font-family: 'Recursive', sans-serif;
  font-variation-settings: var(--t-mono), var(--t-casl), var(--t-wght), var(--t-slnt), var(--t-CRSV);
  font-size: 30px;
}

.translation:not(:last-child)::after {
  content: ", ";
  font-family: 'Recursive', sans-serif;
  font-variation-settings: var(--t-mono), var(--t-casl), var(--t-wght), var(--t-slnt), var(--t-CRSV);
}

.translation.important {
  font-variation-settings: var(--t-mono), var(--t-casl), var(--t-wght-bolder), var(--t-slnt), var(--t-CRSV);
}

@media screen and (max-width: 500px) {
  #translations {
    flex-direction: column;
  }

  .translation:not(:last-child)::after {
    display: none;
  }
}


#meta-outer-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 10px 0;
}

.meta-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.meta-name {
  color: #525252;
  font-variation-settings: var(--t-mono), var(--t-casl), var(--t-wght), var(--t-slnt-slight), var(--t-CRSV);
}


#actions-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
