<vk-page *ngIf="vocabulary">
  <vk-section>

    <div id="kind">
      <span>{{formatKind(vocabulary.kind)}}</span>
    </div>

    <div id="base-forms">
      <span>{{vocabulary.definition}}</span>
    </div>

    <div id="translations">
      <div class="translation" *ngFor="let translation of vocabulary.translations" [class.important]="translation.important">{{translation.translation}}</div>
    </div>

    <vk-meta-container>
      <vk-meta *ngFor="let meta of vocabulary.meta">
        <vk-meta-key>{{meta.name}}</vk-meta-key>
        <vk-meta-value>{{meta.value}}</vk-meta-value>
      </vk-meta>
    </vk-meta-container>

    <vk-buttons>
      <vk-button routerLink="/search" [queryParams]="{q: vocabulary.base_form}">Form bestimmen</vk-button>
      <vk-button>Form bilden</vk-button>
    </vk-buttons>

  </vk-section>

  <vk-section>
    <vk-section-header size="small">Häufigkeit</vk-section-header>
    <div>
      Die Vokabel <b>{{vocabulary.base_form}}</b> kommt im Schulbuch insgesamt <b>{{vocabulary.absolutePrevalence}}</b> mal vor.
    </div>
    <div>
      <mat-icon [color]="vocabulary.relativePrevalence >= 1 ? 'accent' : ''">star_rate</mat-icon>
      <mat-icon [color]="vocabulary.relativePrevalence >= 2 ? 'accent' : ''">star_rate</mat-icon>
      <mat-icon [color]="vocabulary.relativePrevalence >= 3 ? 'accent' : ''">star_rate</mat-icon>
    </div>
  </vk-section>

  <vk-section>

    <vk-section-header>Beispielsätze</vk-section-header>

    <div id="example-sentences-container" *ngIf="vocabulary.exampleSentences.length > 0">
      <div class="example-sentence-container" *ngFor="let sentence of exampleSentencesShown">
        <span>{{sentence.line.substring(0, sentence.matchStart)}}</span>
        <span class="example-sentence-match">{{sentence.line.substring(sentence.matchStart, sentence.matchEnd)}}</span>
        <span>{{sentence.line.substring(sentence.matchEnd)}}</span>
        <span class="example-sentence-context">
          ({{sentence.lecture}}, Z. {{sentence.lineIndex+1}})
        </span>
      </div>
    </div>

    <div *ngIf="vocabulary.exampleSentences.length > exampleSentencesShown.length" id="expand-example-sentences">
      <a (click)="expandExampleSentences()">Mehr anzeigen</a>
    </div>

    <div *ngIf="vocabulary.exampleSentences.length == 0" id="no-example-sentences">
      Keine Beispielsätze verfügbar!
    </div>

  </vk-section>

  <vk-section color="ai">

    <ai-block title="Erklärung der Vokabel" [prompt]="'Erkläre das lateinische Wort ' + vocabulary.base_form"></ai-block>

    <ai-block title="Übersetzungen" [prompt]="'Nenne mir mögliche Übersetzungen des lateinischen Wortes ' + vocabulary.base_form"></ai-block>

    <ai-block title="Beispielsätze" [prompt]="'Nenne mir drei Beispielsätze mit dem lateinischen Wort ' + vocabulary.base_form + ' mit Übersetzung'"></ai-block>

    <ai-block title="Merkhilfe" [prompt]="'Nenne mir eine Merkhilfe für die lateinische Vokabel ' + vocabulary.base_form"></ai-block>

  </vk-section>
</vk-page>
