@import "src/styles/variables";
@import "src/styles/blocks";
@import "src/styles/fonts";

#outer-container {
  @include outer-container;
}

.container {
  @include rounded-container;
  @include container-in-outer-container;

  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

@media screen and (max-width: 900px) {
  .container {
    @include container-in-outer-container-sm;
  }

  #outer-container {
    @include outer-container-sm;
  }
}


#kind {
  font-size: 20px;
  @include font-def-mono;
}
#kind span {
  background-color: $clr-background-on-1;
  border: none;
  border-radius: 7px;
  padding: 5px 7px;
}

#base-forms {
  font-size: 60px;
  @include font-srf;
}

@media screen and (max-width: 500px) {
  #base-forms {
    font-size: 40px;
  }
}


#translations {
  display: flex;
  flex-direction: row;
  gap: 5px;

  @include font-def;
  font-size: 30px;
}

.translation:not(:last-child)::after {
  content: ", ";
  @include font-def;
}

.translation.important {
  @include font-def-bolder;
}

@media screen and (max-width: 500px) {
  #translations {
    flex-direction: column;
  }

  .translation:not(:last-child)::after {
    display: none;
  }
}

#meta-outer-container {
  @include meta-outer-container;
}
.meta-container {
  @include meta-container;
}
.meta-name {
  @include meta-name;
}

#actions-container {
  @include buttons;
}


/* --- example sentences --- */

.container-header {
  font-size: 40px;
  @include font-srf;
}

#example-sentences-container {
  counter-reset: example-sentences-counter;
}

.example-sentence-container {
  padding: 5px 10px;
  counter-increment: example-sentences-counter;
  line-height: 150%;

  &::before {
    content: counter(example-sentences-counter) ".";
    margin-right: 10px;
    color: $clr-muted;
  }

  .example-sentence-match {
    @include font-def-bolder;
  }

  .example-sentence-context {
    color: $clr-muted;
    margin-left: 10px;
    white-space: nowrap;
  }
}

#no-example-sentences {
  text-align: center;
}
