<vk-page size="slim">
  <vk-section>

    <vk-section-header>Anmelden</vk-section-header>

    <input vk-input placeholder="E-Mail" autocomplete="email" type="text" [(ngModel)]="username">

    <input vk-input placeholder="Passwort" autocomplete="current-password" type="password" [(ngModel)]="password">

    <vk-button variant="primary" [disabled]="!ready()" (click)="login()">Anmelden</vk-button>

    <div class="footnote" style="color: #ee2727">{{errorMessage}}</div>

    <div class="footnote">Du hast noch kein Profil? <a routerLink="/register">Registriere</a> dich.</div>

  </vk-section>
</vk-page>
