<div id="outer-container">
  <div id="container">

    <div id="header">Anmelden</div>

    <input placeholder="E-Mail" autocomplete="email" type="text" [(ngModel)]="username">

    <input placeholder="Passwort" autocomplete="current-password" type="password" [(ngModel)]="password">

    <div id="confirm-container">
      <button id="confirm" mat-ripple [disabled]="!ready()" (click)="login()">Anmelden</button>
    </div>

    <div class="footnote" style="color: #ee2727">{{errorMessage}}</div>

    <div class="footnote">Du hast noch kein Profil? <a routerLink="/register">Registriere</a> dich.</div>

  </div>
</div>
