mat-drawer-container {
  height: 100vh;
}

/* ----- top bar ----- */

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-left-button {
  margin-right: 15px;
}

.nav-sidenav {
  width: 300px;
  background-color: #014f61;
  color: white;
}
.nav-sidenav * {
  color: white;
  font-weight: 400;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#nav-header {
  padding-left: 15px;
}

.logo-icon {
  height: 60%;
  margin-right: 15px;
}

#nav-selection-list {
  padding-right: 10px;
}

/* ----- */
#filler {
  height: 30%;
  /*background-color: darkslategrey;*/
}
