<mat-toolbar color="primary">
  <div id="toolbar-container">

    <!--<button mat-icon-button class="nav-left-button"><mat-icon>menu</mat-icon></button>-->
    <div class="toolbar-section" id="toolbar-section-title">
      <img src="/assets/logo/vocabulum_logo_circle.png" alt="Logo" class="logo-icon">
      <a id="home-link">Vocabulum</a>
    </div>

    <div id="toolbar-sections-spacer"></div>

    <div class="toolbar-section" id="toolbar-section-tabs">
      <a class="tab-button" [class.current-tab]="true" mat-ripple matTooltip="Vokabelverzeichnis" routerLink="dictionary">
        <mat-icon>menu_book</mat-icon>
      </a>
      <a class="tab-button" [class.current-tab]="false" mat-ripple matTooltip="Trainer">
        <mat-icon>quiz</mat-icon>
      </a>
      <a class="tab-button" [class.current-tab]="false" mat-ripple matTooltip="Translation Assistance">
        <mat-icon>laptop</mat-icon>
      </a>
    </div>

    <div class="toolbar-section"></div>

  </div>
</mat-toolbar>

<router-outlet></router-outlet>
