<vk-page size="slim">
  <vk-section>

    <vk-section-header size="small">Code einlösen</vk-section-header>

    <input vk-input type="text" [(ngModel)]="code" placeholder="C0deHi3r" maxlength="8">

    <vk-button variant="primary" [disabled]="!codeValid()" (click)="useCode()">Code verwenden</vk-button>

    <div *ngIf="success">
      <span style="color: green">Erfolg!</span><br>
      Dein Code wurde erfolgreich eingelöst! Du erhältst nun Vocabulum Pro bis zum Ablaufdatum des Codes.
    </div>

    <div *ngIf="failure">
      <span style="color: red">Ungültig</span><br>
      Da hat etwas nicht funktioniert.
      Bist du sicher, dass nicht du oder jemand anderes den Code schon eingelöst hat?
      Hast du ihn korrekt eingegeben? Ist er bereits abgelaufen?
      Hast du bereits Vocabulum Pro?
    </div>

  </vk-section>
</vk-page>
