@import "src/styles/variables";
@import "src/styles/blocks";
@import "src/styles/fonts";

#outer-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#input {
  @include rounded-container;
  padding: 15px;
  width: 1000px;
  margin: 20px 20px 0 20px;
}
#input.ready {
  border: 1px solid green;
}
#input.error {
  border: 1px solid red !important;
}
#input:focus {
  outline: none;
}
@media screen and (max-width: 1100px) {
  #input-container {
    display: flex;
    justify-content: stretch;
  }
}

#ta-items-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.ta-item-container {
  @include rounded-container;
  padding: 12px 20px 20px 20px;
  min-width: fit-content;
  cursor: pointer;
}

.ta-item-title {
  @include font-srf;
  font-size: 40px;
  margin-bottom: 10px;
}

.ta-item-forms-container {
  margin-bottom: 10px;
}

.ta-item-of {
  color: $clr-muted-alt;
}

.quotation-marks {
  color: darkgrey;
}

/* vkpro */

#vkpro-container {
  @include rounded-container;
  margin: 20px 20px 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: fit-content;
}

#vkpro-icon {
  height: 50px;
  min-width: 50px;
  max-width: 50px;

  img {
    height: 100%;
    width: 100%;
  }
}

#vkpro-text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    padding: 0;
    margin: 0;
  }
}
b {
  @include font-def-mono;
}

#vkpro-button-container {
  @include buttons;

  #vkpro-button {
    @include vkpro-button;
  }
}

@media screen and (max-width: 500px) {
  #vkpro-container {
    flex-direction: column;
    gap: 15px;
  }
}

/* vkpro-required */

#ta-container {
  position: relative;
  max-width: fit-content;
}

.vkpro-required-container {
  @include rounded-container;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: rgba(227, 227, 227, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.vkpro-icon {
  height: 60px;
  width: 60px;

  img {
    height: 100%;
    width: 100%;
  }
}

.vkpro-text {
  font-size: 130%;
  padding: 0 50px;
  text-align: center;

  a {
    @include font-def-bolder;
    color: $clr-vkpro;
  }
}

@media screen and (max-width: 700px) {
  .vkpro-text.optional {
    display: none;
  }
}
