@import "src/styles/variables";
@import "src/styles/blocks";
@import "src/styles/fonts";

#container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.ta-item-container {
  @include rounded-container;
  padding: 12px 20px 20px 20px;
  min-width: 80px;
  cursor: pointer;
}

.ta-item-title {
  @include font-srf;
  font-size: 40px;
  margin-bottom: 10px;
}

.ta-item-forms-container {
  margin-bottom: 10px;
}

.ta-item-of {
  color: $clr-muted-alt;
}
