@import "src/styles/variables";
@import "src/styles/blocks";
@import "src/styles/fonts";

#outer-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#input {
  @include rounded-container;
  padding: 15px;
  width: 1000px;
  margin: 20px 20px 0 20px;
}
#input.ready {
  border: 1px solid green;
}
#input:focus {
  outline: none;
}
@media screen and (max-width: 1100px) {
  #input-container {
    display: flex;
    justify-content: stretch;
  }
}

#ta-items-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.ta-item-container {
  @include rounded-container;
  padding: 12px 20px 20px 20px;
  min-width: fit-content;
  cursor: pointer;
}

.ta-item-title {
  @include font-srf;
  font-size: 40px;
  margin-bottom: 10px;
}

.ta-item-forms-container {
  margin-bottom: 10px;
}

.ta-item-of {
  color: $clr-muted-alt;
}

.quotation-marks {
  color: darkgrey;
}
