<div id="outer-container">
  <div id="input-container">
    <input id="input" placeholder="Gib hier deinen lateinischen Satz ein ..." [class.ready]="ready" [class.error]="error" (ngModelChange)="updateChange($event)" [(ngModel)]="query">
  </div>

  <div id="ta-items-container">

    <div class="ta-item-container" *ngFor="let item of items" mat-ripple (click)="!item.punctuation ? showVocabulary(item.base_form) : '';">
      <div class="ta-item-title">{{item.title}}</div>
      <ng-container *ngIf="!item.punctuation">
        <div class="ta-item-forms-container">
          <div class="ta-item-form" *ngFor="let form of item.forms">{{form}}</div>
        </div>
        <div class="ta-item-of" *ngIf="!item.inflexible">von</div>
        <div class="ta-item-definition">{{item.definition}}</div>
        <div class="ta-item-translations-container">
          <div class="ta-item-translation" *ngFor="let translation of item.translations">
            <span class="quotation-marks">&#8222;</span>
            {{translation}}
            <span class="quotation-marks">&#8223;</span>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>
