<div id="outer-container">
  <div id="container">

    <div id="header">Registrieren</div>

    <input placeholder="Benutzername" [(ngModel)]="username">

    <input placeholder="E-Mail" autocomplete="username" type="email" [(ngModel)]="email">

    <input placeholder="Passwort" autocomplete="new-password" type="password" [(ngModel)]="password">

    <input placeholder="Passwort wiederholen" autocomplete="new-password" type="password" [(ngModel)]="passwordRepeat" [class.invalid]="!passwordRepeatedCorrectly()">

    <div id="confirm-container">
      <button id="confirm" mat-ripple [disabled]="success || !ready()" (click)="register()">Registrieren</button>
    </div>

    <div *ngIf="success">
      <div style="color: #107e10">Registrierung erfolgreich!</div>
      Du hast eine E-Mail erhalten, in der du den Link zum Abschließen der Registrierung findest. Du hast bis zu 5 Minuten, um die Registrierung zu bestätigen.
    </div>

    <p class="footnote">
      <mat-icon style="color: #e34848">warning</mat-icon><br>
      Achtung!
      Trage hier auf gar keinen Fall ein Passwort ein, das du schon an einer anderen Stelle verwendest.
      Die Datenbank ist derzeit noch nicht sonderlich gesichert, und ich kann alle Passwörter im Klartext sehen.
      Des weiteren wird es im Klartext als Cookie für 24h gespeichert.
    </p>

  </div>
</div>
