<vk-page size="slim">
  <vk-section>

    <vk-section-header>Registrieren</vk-section-header>

    <input vk-input placeholder="Benutzername" [(ngModel)]="username">

    <input vk-input placeholder="E-Mail" autocomplete="username" type="email" [(ngModel)]="email">

    <input vk-input placeholder="Passwort" autocomplete="new-password" type="password" [(ngModel)]="password">

    <input vk-input placeholder="Passwort wiederholen" autocomplete="new-password" type="password" [(ngModel)]="passwordRepeat" [class.invalid]="!passwordRepeatedCorrectly()">

    <vk-button variant="primary" [disabled]="success || !ready()" (click)="register()">Registrieren</vk-button>

    <div *ngIf="success">
      <div style="color: #107e10">Registrierung erfolgreich!</div>
    </div>

  </vk-section>
</vk-page>
