<div id="container">

  <h2>Terminal</h2>

  <div class="horizontal-container">
    Name:
    <input type="text" [(ngModel)]="terminalName">
  </div>
  <div class="horizontal-container">
    Expiration:
    <input type="date" [(ngModel)]="terminalExpirationDate">
    <input type="time" [(ngModel)]="terminalExpirationTime">
  </div>
  <div class="horizontal-container">
    <button (click)="setTerminalExpiration()">Intervall eingeben</button>
    <button (click)="setTerminalExpiration(7)">1 Woche</button>
    <button (click)="setTerminalExpiration(7*2)">2 Wochen</button>
    <button (click)="setTerminalExpiration(30)">1 Monat</button>
    <button (click)="setTerminalExpiration(30*3)">3 Monate</button>
    <button (click)="setTerminalExpiration(365)">1 Jahr</button>
  </div>
  <button (click)="openTerminal()">Open Terminal</button>

  <h2>Vouchers</h2>

  <button (click)="vouchers.run()">
    Load
    <span *ngIf="vouchers.working">...</span>
  </button>
  <textarea rows="15" cols="100" [value]="vouchers.value" readonly></textarea>

  <h3>Create Voucher(s)</h3>
  <div class="horizontal-container">
    Expiration:
    <input type="date" [(ngModel)]="newVoucherExpirationDate">
    <input type="time" [(ngModel)]="newVoucherExpirationTime">
  </div>
  <div class="horizontal-container">
    Amount:
    <input type="number" [(ngModel)]="newVoucherAmount" min="1">
  </div>
  <div class="horizontal-container">
    Note: <input type="text" [(ngModel)]="newVoucherNote">
  </div>
  <button (click)="createNewVoucher.run()" [disabled]="newVoucherExpirationDate == null">
    Create Voucher(s)
    <span *ngIf="createNewVoucher.working">...</span>
  </button>
  <textarea rows="10" cols="30" [value]="createNewVoucher.value" readonly></textarea>

  <h3>Print Vouchers</h3>
  <textarea rows="10" cols="30" [(ngModel)]="printVouchers"></textarea>
  <button (click)="openPrintVouchers()">Open printable page</button>

</div>
