@import "src/styles/variables";
@import "src/styles/blocks";
@import "src/styles/fonts";

#container {
  padding: 50px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

h2 {
  margin: 50px 0 15px;

  &::before {
    content: "• ";
    color: $clr-primary;
  }
}

h3 {
  margin: 30px 0 10px;
}

button {
  @include button;
  display: block;

  &:hover {
    background-color: #f5f5f5;
  }
}

textarea {
  padding: 10px;
  border-radius: 5px;
}

.horizontal-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
