<div id="container">

  <h2>Vouchers</h2>

  <button (click)="vouchers.run()">
    Load
    <span *ngIf="vouchers.working">...</span>
  </button>
  <textarea rows="15" cols="100" [value]="vouchers.value" readonly></textarea>

  <h3>Create Voucher(s)</h3>
  <div class="horizontal-container">
    Expiration:
    <input type="date" [(ngModel)]="newVoucherExpirationDate">
    <input type="time" [(ngModel)]="newVoucherExpirationTime">
  </div>
  <div class="horizontal-container">
    Amount:
    <input type="number" [(ngModel)]="newVoucherAmount" min="1">
  </div>
  <div class="horizontal-container">
    Note: <input type="text" [(ngModel)]="newVoucherNote">
  </div>
  <button (click)="createNewVoucher.run()" [disabled]="newVoucherExpirationDate == null">
    Create Voucher(s)
    <span *ngIf="createNewVoucher.working">...</span>
  </button>
  <textarea rows="10" cols="30" [value]="createNewVoucher.value" readonly></textarea>

  <h3>Print Vouchers</h3>
  <textarea rows="10" cols="30" [(ngModel)]="printVouchers"></textarea>
  <button (click)="openPrintVouchers()">Open printable page</button>

</div>
