<div id="container">

  <div class="portion-container" *ngFor="let portion of portions; let i = index">

    <div class="portion-header" mat-ripple (click)="toggleExpand(i)" [class.expanded]="isExpanded(i)">
      <span class="portion-name">Portion {{portion.name}}</span>
      <div class="portion-dropdown-arrow">
        <mat-icon *ngIf="!isExpanded(i)">expand_more</mat-icon>
        <mat-icon *ngIf="isExpanded(i)">expand_less</mat-icon>
      </div>
    </div>

    <ng-container *ngIf="isExpanded(i)">
      <div class="blocks-container">
        <div class="block" *ngFor="let block of portion.vocabularyBlocks">
          <div class="block-item" *ngFor="let vocabulary of block" mat-ripple>
            <div class="vocabulary-inner-container vocabulary-latin-container">
              <span class="vocabulary-base-form">{{vocabulary.base_form}}</span>
            </div>
            <div class="vocabulary-inner-container vocabulary-translations-container">
              <span class="translation-quotation-marks">&#8222;</span>
              <span class="vocabulary-translation"
                    [class.important]="translation.important"
                    *ngFor="let translation of vocabulary.translations">
                {{translation.translation}}
              </span>
              <span class="translation-quotation-marks">&#8223;</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>

</div>
