/* ----- new top bar ----- */

@import "src/styles/variables";

$navbar-height: 75px;
$navbar-content-height: $navbar-height - 25px;

#navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: $navbar-height;
  background: $clr-primary;
  background: linear-gradient(54deg, $clr-primary 0%, $clr-primary-lighter 65%, $clr-secondary 90%);

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 13px;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  #navbar {
    background: linear-gradient(54deg, $clr-primary 0%, $clr-primary-lighter 55%, $clr-secondary 90%);
  }
}

#navbar-title {
  height: $navbar-content-height;
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}

#navbar-title-logo {
  height: 100%;
}

#navbar-title-link {
  color: $clr-on-primary;
  font-size: 25px;
}

#navbar-tabs {
  flex-grow: 1;
  display: flex;
  padding: 25px;
  gap: 10px;
}

.tab-button {
  width: $navbar-content-height - 10px;
  height: $navbar-content-height - 10px;
  background-color: $clr-on-secondary;
  border: none;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  color: $clr-secondary;

  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-button.current-tab {
  color: $clr-primary;
}

#navbar-user {
  display: flex;
  align-items: center;
  cursor: pointer;

  background-color: $clr-on-secondary;
  border: none;
  border-radius: 20px;
  height: $navbar-content-height;
}

#navbar-user-icon {
  height: $navbar-content-height - 2*8px;
  margin-left: 8px;
  border-radius: 100%;
  border: 1px #b2b2b2 solid;
}

#navbar-user-name {
  padding: 8px;
  margin-right: 8px;
}

$navbar-user-name-name-fontsize: 18px;
$navbar-user-name-description-fontsize: 10px;

#navbar-user-name-description {
  color: $clr-text;
  font-size: $navbar-user-name-description-fontsize;
}

#navbar-user-name-name {
  font-size: $navbar-user-name-name-fontsize;
  color: $clr-secondary;
}
#navbar-user-name-text {
  font-size: $navbar-user-name-name-fontsize;
  color: $clr-text;
}

@media screen and (max-width: 700px) {
  #navbar-user-name {
    display: none;
  }
  #navbar-user-icon {
    margin-right: 8px;
  }

  #navbar {
    gap: 0;
  }

  #navbar-tabs {
    justify-content: end;
    padding-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  #navbar-title-link {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  #navbar-title {
    display: none;
  }

  #navbar {
    justify-content: center;
  }

  #navbar-tabs {
    flex-grow: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 280px) {
  #navbar-user {
    display: none;
  }
}
