/* ----- new top bar ----- */

@import "src/styles/variables";

/* layout */

#fake-header {
  background-color: $clr-header;
  height: 30px;
}

#nodges {
  border: 1px $clr-background-1-border;
  height: 15px;
  margin-bottom: -15px;
  z-index: 1001;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  // display: flex; added in media query or .scrollbar
  flex-direction: row;
  justify-content: space-between;

  .nodge {
    width: 15px;
    height: 15px;
  }
  .nodge::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: $clr-background-0;
    border-radius: 15px;
  }
  #nodge-left {
    background-color: $clr-primary;

    #navbar-container.scrollbar & {
      clip-path: polygon(0 0, 0% 100%, 0 50%);
    }
  }
  #nodge-left::after {
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
  }
  #nodge-right {
    background-color: $clr-secondary;
  }
  #nodge-right::after {
    position: relative;
    right: 15px;
    margin-right: -30px;

    clip-path: polygon(50% 0, 100% 0, 100% 51%, 50% 50%);
  }

  display: none;
  #navbar-container.scrollbar & {
    display: flex;
  }
}

#navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $clr-header;
  height: $navbar-height;
}

#navbar {
  height: $navbar-height;
  background: linear-gradient(54deg, $clr-primary 0%, $clr-primary-lighter 65%, $clr-secondary 90%);

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 13px;
  gap: 20px;

  #navbar-container.scrollbar & {
    padding: 0 17px 0 13px;
    border-top-right-radius: 15px;
  }
}
@media screen and (max-width: 1000px) {
  #navbar {
    background: linear-gradient(54deg, $clr-primary 0%, $clr-primary-lighter 55%, $clr-secondary 90%);
  }
}

@media screen and (display-mode: standalone) {
  :has(#navbar) {
    height: $navbar-height;
  }

  #navbar {
    padding: 0 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #nodges {
    display: flex;
  }
  #navbar-container.scrollbar #nodge-left {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
  }
}

/* navbar contents */

#navbar-title {
  height: $navbar-content-height;
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}

#navbar-title-logo {
  height: 100%;
}

#navbar-title-link {
  color: $clr-on-primary;
  font-size: 25px;
}

#navbar-tabs {
  flex-grow: 1;
  display: flex;
  padding: 25px;
  gap: 10px;
}

$tab-button-border-radius: 15px;
.tab-button {
  width: $navbar-content-height - 10px;
  height: $navbar-content-height - 10px;
  background-color: $clr-on-secondary;
  border: none;
  padding: 5px;
  border-radius: $tab-button-border-radius;
  cursor: pointer;
  color: $clr-secondary;

  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-button.current-tab {
  color: $clr-primary;
}

#navbar-user {
  display: flex;
  align-items: center;
  cursor: pointer;

  background-color: $clr-on-secondary;
  border: none;
  border-radius: 20px;
  height: $navbar-content-height;
}

#navbar-user-icon {
  height: $navbar-content-height - 2*8px;
  margin-left: 8px;
  border-radius: 100%;
  border: 1px #b2b2b2 solid;
}

#navbar-user-name {
  padding: 8px;
  margin-right: 8px;
}

$navbar-user-name-name-fontsize: 18px;
$navbar-user-name-description-fontsize: 10px;

#navbar-user-name-description {
  color: $clr-text;
  font-size: $navbar-user-name-description-fontsize;
}

#navbar-user-name-name {
  font-size: $navbar-user-name-name-fontsize;
  color: $clr-secondary;
}
#navbar-user-name-text {
  font-size: $navbar-user-name-name-fontsize;
  color: $clr-text;
}

@media screen and (max-width: 700px) {
  #navbar-user-name {
    display: none;
  }
  #navbar-user-icon {
    margin-right: 8px;
  }

  #navbar-user {
    border-radius: $tab-button-border-radius;
  }

  #navbar {
    gap: 0;
  }

  #navbar-tabs {
    justify-content: end;
    padding-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  #navbar-title-link {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  #navbar-title {
    display: none;
  }

  #navbar {
    justify-content: center;
  }

  #navbar-tabs {
    flex-grow: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 280px) {
  #navbar-user {
    display: none;
  }
}
